<section class="frame">
    <h1>Account Management</h1>

    <%- messages() %> <!-- Display flash messages -->

    <% if (errors) { %>
        <ul class="notice">
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <p>You're logged in.</p>

    <div class="account-options">
        <p>Manage your account:</p>
        <ul>
            <li><a href="/account/register">Register a New Account</a></li>
            <li><a href="/account/logout">Logout</a></li>
        </ul>
    </div>
</section>