<% const d = new Date(); let year = d.getFullYear(); %>
<footer>
    <div class="footer-content">
        <p class="copyright">&copy; <%= year %>, CSE 340 App. All rights reserved</p>
        <p class="error-test"><a href="/error-test" aria-label="Trigger test error">Test Error Handling</a></p>
    </div>
</footer>