<% const d = new Date(); let year = d.getFullYear(); %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <a href="#main-content" class="skip-link">Skip to main content</a>
</footer>