


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to CSE Motors. Learn about the Car bond. ">
    <meta name="author" content="Erjok Agot Erjok">
    <title>CSE Motors</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>
