<nav>
    <ul>
        <li><a href="/" aria-label="Home" aria-current="page">Home</a></li>
        <li><a href="/Custom">Custom</a></li>
        <li><a href="/Sedan">Sedan</a></li>
        <li><a href="/Suv">Suv</a></li>
        <li><a href="/Truck">Truck</a></li>
    </ul>
</nav>

